<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/bootstrap/css">
    <link rel="stylesheet" href="/overlay/css">
    <script src="/bootstrap/js"></script>
    <script src="/bootstrap/css"></script>
    <script type="module" src="/overlay/functions/grabber"></script>
    <script type="module" src="/overlay/functions/scroll"></script>
    <script type="module" src="/overlay/functions/tool"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://kit.fontawesome.com/2c3b1c4abb.js" crossorigin="anonymous"></script>

<body>
    
    <div class = "overlay-toolbar-right-container">
        <div class = "right-toolbar">
            <div class = "grabber" id='grabber' draggable="true" >
                <i class="fas fa-ellipsis tool-icon"></i>
            </div>
            <div class = "spacer-1"></div>
            <div class = "tool active" id="tool-select-done">
                <i class="fas fa-arrow-pointer tool-icon" id = "ts-p"></i>
                <i class="far fa-circle-check tool-icon" id = "ts-s" style="display:none"></i>
            </div>

            <div class = "spacer-7"></div>
            <div class = "tool" id="tool-brush">
                <i class="fas fa-paint-brush tool-icon"></i>
            </div>
            <div class = "tool" id="tool-rectangle">
                <i class="far fa-square tool-icon"></i>
            </div>
            <div class = "tool" id="tool-circle">
                <i class="far fa-circle tool-icon"></i>
            </div>
            <div class = "tool" id="tool-text">
                <i class="fas fa-font tool-icon"></i>
            </div>
            <div class = "tool" id="tool-comment">
                <i class="fas fa-comment-dots tool-icon"></i>
            </div>
            <div class = "tool" id="tool-counter">
                <i class="fas fa-sort-numeric-down tool-icon"></i>
            </div>
            <div class = "tool" id="tool-arrow">
                <i class="fas fa-long-arrow-alt-right tool-icon"></i>
            </div>
        </div>
        <div class = "spacer-3"></div>
            <div class = "right-toolbar tool-option-disabled" id ="tool-options">
                <div class = "tool">

                    <input type = "color" id = 'to-stroke'></input>
                    <div style = "height:100%;padding-top:4px;padding-bottom:4px;display:flex;flex-direction:column;padding-left:8px">
                        <i class="fas fa-plus tool-icon" id = 'to-plus' style = "height:50%"></i>
                        <i class="fas fa-minus tool-icon" id = 'to-minus' style = "height:50%"></i>
                    </div>
                    <p style = "margin:auto; font-weight:bold; color: var(--background)" id = "to-line-width">3</p>
                    <i class="fas fa-font tool-icon" id = 'to-text'></i>
                    <i class="fas fa-a tool-icon" id = 'to-text2'></i>
                    
                </div> 
        </div>
    </div>
    <iframe class = "website" id = "website" src = "https://www.westcentraleq.com/"></iframe>
    <canvas class = "overlay-canvas" id = "overlay-canvas"></canvas>
</body>
</head>

</html>