<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/bootstrap/css">
    <link rel="stylesheet" href="/overlay/css">
    <script src="/bootstrap/js"></script>
    <script src="/bootstrap/css"></script>
    <script type="module" src="/overlay/functions/grabber"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://kit.fontawesome.com/2c3b1c4abb.js" crossorigin="anonymous"></script>

<body>
    <div class = "overlay-toolbar-right-container">
        <div class = "right-toolbar">
            <div class = "grabber" id='grabber' draggable="true">
                <i class="fas fa-ellipsis tool-icon"></i>
            </div>
            <div class = "tool" id="tool-select-done">
                <i class="fas fa-arrow-pointer tool-icon"></i>
            </div>
            <div class = "spacer-7"></div>
            <div class = "tool active" id="tool-brush">
                <i class="fas fa-paint-brush tool-icon"></i>
            </div>
            <div class = "tool" id="tool-rectangle">
                <i class="far fa-square tool-icon"></i>
            </div>
            <div class = "tool" id="tool-circle">
                <i class="far fa-circle tool-icon"></i>
            </div>
            <div class = "tool" id="tool-text">
                <i class="fas fa-font tool-icon"></i>
            </div>
            <div class = "tool" id="tool-comment">
                <i class="fas fa-comment-dots tool-icon"></i>
            </div>
            <div class = "tool" id="tool-counter">
                <i class="fas fa-sort-numeric-down tool-icon"></i>
            </div>
            <div class = "tool" id="tool-arrow">
                <i class="fas fa-long-arrow-alt-right tool-icon"></i>
            </div>
        </div>
    </div>
</body>
</head>

</html>