<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/overlay/css">
    <script type="module" src="/overlay/functions/grabber"></script>
    <script type="module" src="/overlay/functions/scroll"></script>
    <script type="module" src="/overlay/functions/tool"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://kit.fontawesome.com/2c3b1c4abb.js" crossorigin="anonymous"></script>

<body>
    <iframe class="website" id="website" src=""></iframe>
    <canvas class="overlay-canvas" id="overlay-canvas"></canvas>
    <div class="overlay-toolbar-right-container">
        <div class="right-toolbar">
            <div class="grabber" id='grabber' draggable="true">
                <i class="fas fa-ellipsis tool-icon"></i>
            </div>
            <div class="spacer-1"></div>
            <div class="tool active" id="tool-select-done">
                <i class="fas fa-arrow-pointer tool-icon" id="ts-p"></i>
                <i class="far fa-circle-check tool-icon" id="ts-s" style="display:none"></i>
                <i class="fas fa-trash tool-icon" id='ts-t' style="display:none"></i>
            </div>

            <div class="spacer-7"></div>
            <div class="tool" id="tool-brush">
                <i class="fas fa-paint-brush tool-icon"></i>
            </div>
            <div class="tool" id="tool-rectangle">
                <i class="far fa-square tool-icon"></i>
            </div>
            <div class="tool" id="tool-circle">
                <i class="far fa-circle tool-icon"></i>
            </div>
            <div class="tool" id="tool-text">
                <i class="fas fa-font tool-icon"></i>
            </div>
            <div class="tool" id="tool-comment">
                <i class="fas fa-comment-dots tool-icon"></i>
            </div>
            <div class="tool" id="tool-arrow">
                <i class="fas fa-long-arrow-alt-right tool-icon"></i>
            </div>
            <div class="tool" id="tool-shade">
                <i class="fas fa-umbrella-beach tool-icon"></i>
            </div>
            <div class="tool" id="tool-blur">
                <i class="fas fa-droplet tool-icon"></i>
            </div>
            <div class="tool" id='tool-export'>
                <i class="fas fa-download tool-icon"></i>
            </div>
            <div class="spacer-3"></div>
            <div class="right-toolbar tool-option-disabled" id="tool-options">
                <div class="tool">

                    <input type="color" id='to-stroke'></input>
                    <div
                        style="height:100%;padding-top:4px;padding-bottom:4px;display:flex;flex-direction:column;padding-left:8px">
                        <div id='to-plus' style="height:50%">
                            <i class="fas fa-plus tool-icon" style="width:100%;height:100%"></i>
                        </div>
                        <div id='to-minus' style="height:50%">
                            <i class="fas fa-minus tool-icon" style="width:100%;height:100%"></i>
                        </div>
                    </div>
                    <p style="margin:auto; font-weight:bold; color: var(--background)" id="to-line-width">3</p>

                </div>
            </div>
            <div class="spacer-3"></div>
        </div>
    </div>
    <div class="loading-toast" id="loading-toast">
        <p id="loading-toast-p">SAVING...</p>
    </div>
    <div id="help" class="help">
        <div class="help-container">
            <div class="help-body">
                <div class="help-section">
                    <h3>Tools <strong>(shortcut)</strong></h3>
                    <p><i class="fas fa-paint-brush"></i> <strong>(D)</strong>: drag to draw freehand</p>
                    <p><i class="far fa-square"></i> <strong>(R)</strong>: drag to draw a rectangle</p>
                    <p><i class="far fa-circle"></i> <strong>(C)</strong>: drag to draw a circle</p>
                    <p><i class="fas fa-font"></i> <strong>(T)</strong>: click to add text on a transparent background</p>
                    <p><i class="fas fa-comment-dots"></i> <strong>(X)</strong>: click to add a comment on a white background</p>
                    <p><i class="fas fa-long-arrow-alt-right"></i> <strong>(A)</strong>: drag to add an arrow</p>
                    <p><i class="fas fa-umbrella-beach"></i> <strong>(S)</strong>: click to add shade</p>
                    <p><i class="fas fa-droplet"></i> <strong>(B)</strong>: drag to blur a section</p>
                    <p><i class="fas fa-download"></i> <strong>(E)</strong>: click to export the screenshots as a PDF</p>
                </div>
                <hr style = "opacity:0.1"/>
                <div class="help-section">
                    <h3>Saving or deleting a screenshot</h3>
                    <p>Click  <i class="far fa-circle-check"></i> to save the current screen</p>
                    <p>Click <i class="fas fa-trash"></i> to cancel and clear your additions</p>
                </div>
                <hr style = "opacity:0.1"/>
                <div class="help-section">
                    <h3>Other tools</h3>
                    <p>Use -/+ to change font size and line width</p>
                    <p>Press <strong>(H)</strong> to show help</p>
                    <p>Drag and drop <i class="fas fa-ellipsis"></i> to move the toolbar</p>
                </div>
            </div>

</body>
</head>

</html>